<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/Public/public.js"></script>

    <script src="/static/ThreeParty/LayUi/layui.js"></script>
    <script src="/static/OrgHome/device_list.js"></script>

    <link rel="stylesheet" href="/static/ThreeParty/Boost/bootstrap.css"/>
    <link rel="stylesheet" href="/static/ThreeParty/LayUi/css/layui.css" media="all">

    <style>
        .layui-table-cell {
            height: 30px;
            line-height: 30px;
        }
    </style>
</head>
<body>

<div style="background: #fff;height: 600px;width: 90%;margin-left:5%;" id="vip_div">
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="keyword" id="demoReload" autocomplete="off" placeholder="设备名称">
        </div>
        <button class="layui-btn" data-type="reload" onclick="searchFliter()">搜索</button>
        <button class="layui-btn" data-type="reload" onclick="showAll()">所有设备</button>


    </div>
    <table id="demo" lay-filter="test" style="overflow-y: scroll"></table>
</div>

<script type="text/html" id="barDemo1">
    {#    <a class="layui-btn layui-btn-xs" lay-event="view" id="view">查看</a>#}
    <a class="layui-btn layui-btn-xs" lay-event="edit" id="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id="del">删除</a>
</script>

{#<script type="text/html" id="barDemo2">#}
{#    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="snap" id="snap">截图</a>#}
{#    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="restart" id="restart">重启</a>#}
{#    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="halt" id="halt">关机</a>#}
{#</script>#}

<script type="text/html" id="barDemo3">
    <a class="layui-btn layui-btn-xs" lay-event="position" id="position">设置商品</a>
    <a class="layui-btn layui-btn-xs" lay-event="power" id="power">电源</a>
    {#    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="grpmap" id="grpmap">分区</a>#}
</script>

<script>
    var orgTab;
    layui.use('table', function () {
        var table = layui.table;

        var listParams = new Array();
        listParams[0] = "command=DEVICES_LIST";
        var timestamp = (new Date()).valueOf();
        listParams[1] = "timestamp=" + timestamp;
        listParams[2] = "logincode=" + $.cookie("OrgUserCode");
        listParams[3] = "orgsign=" + orgsign;
        listParams[4] = "typecode=-1";

        listParams = listParams.sort();
        var urlCmd = $.buildGetParam("/api/device/?", listParams);
        urlCmd = urlCmd + "&sign=" + $.signString(listParams);

        //第一个实例
        orgTab = table.render({
            elem: '#demo'
            , height: 600
            , cellMinWidth: 80
            , url: urlCmd //数据接口
            , page: true //开启分页
            , id: 'testReload'
            , cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'name', title: '设备名',}
                , {field: 'ipaddress', title: 'IP地址',}
                , {field: 'mac', title: 'Mac地址',}
                , {field: 'position', title: '设备位置'}
                , {field: 'orgname', title: '归属单位',}
                , {field: 'resource', title: '商品数量',}
                , {field: 'mangeinfo', title: '管理员',}
                , {field: 'statename', title: '设备状态', align: 'center'}
                , {fixed: 'right', title: '管理', align: 'center', toolbar: '#barDemo1', width: 160}
                {#, {fixed: 'right', title: '远程控制', align: 'center',toolbar: '#barDemo2',width:160}#}
                , {fixed: 'right', title: '设置', align: 'center', toolbar: '#barDemo3', width: 160}
            ]]
            , done: function (res, page, count) {

            },
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'view') {
                $.viewDevice(data);
            }
            else if (layEvent === 'edit') {
                $.editDevice(data);
            } else if (layEvent === 'del') {
                layer.confirm('你确定删除该设备？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    $.deleDevice(data);
                });
            }
            else if (layEvent === 'snap') {
                $.snapDevice(data);
            }

            else if (layEvent === 'restart') {
                layer.confirm('你确定重启该设备？', function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    $.restartDevice(data);
                });

            }

            else if (layEvent === 'halt') {
                layer.confirm('该操作会关闭计算机，下次启动需要您在设备上启动，你确定关闭计算机吗？', function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    $.shutdownDevice(data);
                });
            }
            else if (layEvent === 'position') {
                $.setDevPosition(data);
            }
            else if (layEvent === 'power') {
                $.setDevPower(data);
            }

            else if (layEvent === 'grpmap') {
                $.setDevGrp(data);
            }

        });
    });

    function showAll() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设

            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function searchFliter() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                fliterstring: pfliter
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function openTerminal() {
        layui.use('table', function () {
            var table = layui.table;
            var oldData = table.cache["testReload"];

            for (var index = 0; index < oldData.length; index++) {
                var oneRecore = oldData[index];

                if (oneRecore.LAY_CHECKED) {
                    console.log(oneRecore.name);
                }

            }
        });
    }

    function shutdownTerminal() {

    }

    function restartTermianl() {

    }
</script>
</body>
</html>