<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/public.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/ThreeParty/LayUi/layui.js"></script>
    <script src="/static/OrgHome/device_edit.js"></script>

    {#    <link rel="stylesheet" href="/static/ThreeParty/Boost/bootstrap.css"/>#}
    <link rel="stylesheet" href="/static/ThreeParty/LayUi/css/layui.css" media="all">
</head>
<body style="text-align: center">

<form class="layui-form" action="">
    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">设备名称</label>
        <div class="layui-input-block">
            <input type="text" name="city" id="name" lay-verify="title" autocomplete="off" placeholder="请输入名称"
                   class="layui-input" style="width: 200px">
        </div>
    </div>


    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">管理员</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="managename" lay-verify="title" autocomplete="off"
                   placeholder="请输入管理员姓名" class="layui-input" style="width: 200px">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="depsity" id="managephone" lay-verify="title" autocomplete="off" placeholder="请输入管理员联系电话"
                   class="layui-input" style="width: 200px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="ipaddress" lay-verify="title" autocomplete="off"
                   placeholder="请输入设备IP地址" class="layui-input" style="width: 200px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">MAC地址</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="macaddress" lay-verify="title" autocomplete="off"
                   placeholder="请输入设备MAC地址" class="layui-input" style="width: 200px">
        </div>
    </div>


    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">设备经度</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="longitude" lay-verify="title" autocomplete="off"
                   placeholder="请输入设备经度" class="layui-input" style="width: 200px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 450px">
        <label class="layui-form-label" style="width: 130px">设备纬度</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="latitude" lay-verify="title" autocomplete="off"
                   placeholder="请输入设备纬度" class="layui-input" style="width: 200px">
        </div>
    </div>


    <div class="layui-form-item" style="margin-top: 10px;margin-left:50px;width: 450px">
        <label class="layui-form-label">产品型号</label>
        <div class="layui-input-block" style="width: 200px">
            <select name="dev" lay-filter="dev"  id="dev_type">
                <option value=""></option>
                <option value="BY-Paper-S002">智能取纸售卖一体机</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;margin-left:50px;width: 450px">
        <label class="layui-form-label">设备状态</label>
        <div class="layui-input-block" style="width: 200px">
            <select name="devstate" lay-filter="devstate"  id="state_list">
                <option value=""></option>
                <option value="1">正常</option>
                <option value="21">缺纸</option>
                <option value="22">纸将尽</option>
                <option value="23">堵纸</option>
                <option value="24">卡纸</option>
                <option value="5">换纸成功</option>
                <option value="6">开机</option>
                <option value="7">关机</option>
                <option value="8">售卖机故障</option>
                <option value="20">其他故障</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px;margin-left:50px;width: 450px">
        <label class="layui-form-label">归属单位</label>
        <div class="layui-input-block" style="width: 200px">
            <select name="orgs" lay-filter="orgs"  id="org_list">
                <option value=""></option>
            </select>
        </div>
    </div>
</form>

<div class="layui-form-item" style="margin-top: 10px">
    {#    <label class="layui-form-label" style="width: 130px">联系电话</label>#}
    <div class="layui-input-block">
        <div style="width: 120px;margin-top: 20px;cursor: pointer;background-color: #d58512;font-size: 18px;
        color: whitesmoke;height: 40px;border-radius: 20px;line-height: 40px" onclick="$.saveInfo()">保存
        </div>

    </div>
</div>


<script>
    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        form.render();
    });
</script>
</body>
</html>