<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设备列表</title>
	<link href="/static/Pad/area_device.css" type="text/css" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="/static/Pad/popup.css" />
	<script src="/static/Public/jquery.js"></script>
	<script type="text/javascript" src="/static/Public/md5.js"></script>
	<script type="text/javascript" src="/static/Public/cookie.js"></script>
	<script type="text/javascript" src="/static/Public/public.js"></script>
	<script type="text/javascript" src="/static/Pad/popup.js"></script>
	<script src="/static/Pad/area_device.js"></script>

</head>
<body>

	<div class="center">
		<div class="news_content" id="content">
			<!-- <div class="news_detail" id="imge"></div> -->
				<div class="News_List" style="background-color:#eeeeee" id="detailed">
<!-- 
				<ul>
						<div class="zone" style="background: #e84a4a;text-align:center;overflow:hidden;" >					
							<a href="#" class="zone_btn"  style="margin-left:15px;float:left;margin-top: 15px">·ÖÇø</a>
							<img src="images/checkbox_off.png" style="margin-top: 1px">

						</div>
					</ul>  -->

				</div>
			</div>
		</div>
	</body>
	</html>
