<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/Public/public.js"></script>

    <script src="/static/ThreeParty/LayUi/layui.js"></script>
{#    <script src="/static/OrgHome/Media_js/version_list.js"></script>#}

    <link rel="stylesheet" href="/static/ThreeParty/Boost/bootstrap.css"/>
    <link rel="stylesheet" href="/static/ThreeParty/LayUi/css/layui.css" media="all">

    <style>
        .layui-table-cell{
    height:30px;
    line-height:30px;
}
    </style>
</head>
<body>

<div style="background: #fff;height: 600px;width: 90%;margin-left:5%;" id="vip_div">
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="keyword" id="demoReload" autocomplete="off" placeholder="输入过滤字符串">
        </div>
        <div class="layui-inline" style="margin-left: 30px">
            <input class="layui-input" name="keyword" id="ipAddress" autocomplete="off" placeholder="输入IP地址">
        </div>
        <div class="layui-inline" style="margin-left: 30px">
            <input class="layui-input" name="keyword" id="operator" autocomplete="off" placeholder="输入操作员账号">
        </div>
        <div class="layui-inline" style="margin-left: 30px">
            <input type="text" class="layui-input" id="startTime" placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
        <div class="layui-inline" style="margin-left: 10px">
            --
        </div>
        <div class="layui-inline" style="margin-left: 10px">
            <input type="text" class="layui-input" id="stoptime" placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
        <button class="layui-btn" data-type="reload" onclick="searchFliter()">搜索</button>
    </div>

    <table id="demo" lay-filter="test" style="overflow-y: scroll"></table>
</div>

<script>
    var orgsign = "1e2c68303ebd11e880d3989096c1d848";
    var orgTab;
    layui.use('table', function () {
        var table = layui.table;

        var listParams = new Array();
        listParams[0] = "command=LOG_QUERY";
        var timestamp = (new Date()).valueOf();
        listParams[1] = "timestamp=" + timestamp;
        listParams[2] = "logincode=" + $.cookie("OrgUserCode");
        listParams[3] = "orgsign=" + orgsign;

        listParams = listParams.sort();
        var urlCmd = $.buildGetParam("/api/system/?", listParams);
        urlCmd = urlCmd + "&sign=" + $.signString(listParams);

        //第一个实例
        orgTab = table.render({
            elem: '#demo'
            , height: 600
            ,cellMinWidth:80
            ,limit:20
            , url: urlCmd //数据接口
            , page: true //开启分页
            , id: 'testReload'
            , cols: [[ //表头
                {field: 'operator', title: '操作员', sort: true}
                , {field: 'username', title: '员工'}
                , {field: 'opertype', title: '操作指令',}
                , {field: 'content', title: '指令名称',}
                , {field: 'ipaddress', title: 'IP地址',}
                , {field: 'opertortime', title: '操作时间', sort: true}
            ]]
            , done: function (res, page, count) {
            },
        });
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期时间选择器
        laydate.render({
            elem: '#startTime'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#stoptime'
            , type: 'datetime'
        });
    });

    function searchFliter() {
        var pfliter = $("#demoReload").val();
        var ipAddress = $("#ipAddress").val();
        var operator = $("#operator").val();

        var startTime = $("#startTime").val();
        var stopTime = $("#stoptime").val();

        if (startTime != "" && stopTime != "")
        {
            if (startTime >= stopTime)
            {
                alert("开始时间必须小于结束时间");
                return;
            }
        }

        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                fliterstring:pfliter
                ,ipaddress:ipAddress
                ,operator:operator
                ,starttime:startTime
                ,stoptime:stopTime
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
</script>
</body>
</html>