<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/public.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/ThreeParty/LayUi/layui.js"></script>
    <script src="/static/OrgHome/message_config.js"></script>
    <link rel="stylesheet" href="/static/ThreeParty/LayUi/css/layui.css" media="all">
</head>
<body style="text-align: center">

<form class="layui-form" action="">
    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">LED终端名</label>
        <div class="layui-input-block">
            <input type="text" name="city" id="name" lay-verify="title" autocomplete="off" placeholder="请输入LED终端名"
                   class="layui-input" style="width: 300px">
        </div>
    </div>


    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="profession" id="ipaddress" lay-verify="title" autocomplete="off"
                   placeholder="请输入IP地址" class="layui-input" style="width: 300px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">工作端口</label>
        <div class="layui-input-block">
            <input type="text" name="depsity" id="port" lay-verify="title" autocomplete="off" placeholder="请输入端口"
                   class="layui-input" style="width: 300px">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">Mac地址</label>
        <div class="layui-input-block">
            <input type="text" name="depsity" id="mac" lay-verify="title" autocomplete="off" placeholder="请输入Mac地址"
                   class="layui-input" style="width: 300px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">LED宽（像素）</label>
        <div class="layui-input-block">
            <input type="text" name="depsity" id="width" lay-verify="title" autocomplete="off" placeholder="请输入宽度"
                   class="layui-input" style="width: 300px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;width: 550px">
        <label class="layui-form-label" style="width: 130px">LED高（像素）</label>
        <div class="layui-input-block">
            <input type="text" name="depsity" id="height" lay-verify="title" autocomplete="off" placeholder="请输入高度"
                   class="layui-input" style="width: 300px">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px;margin-left:50px;width: 550px">
        <label class="layui-form-label">板卡厂商</label>
        <div class="layui-input-block" style="width: 300px">
            <select name="factory" lay-filter="factory" id="factory">
                <option value=""></option>
                <option value="0">视展</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px;margin-left:50px;width: 550px">
        <label class="layui-form-label">归属单位</label>
        <div class="layui-input-block" style="width: 300px">
            <select name="orgs" lay-filter="orgs"  id="org_list">
                <option value=""></option>
            </select>
        </div>
    </div>
</form>

<div class="layui-form-item" style="margin-top: 10px">
    {#    <label class="layui-form-label" style="width: 130px">联系电话</label>#}
    <div class="layui-input-block">
        <div style="width: 120px;margin-top: 20px;cursor: pointer;background-color: #d58512;font-size: 18px;
        color: whitesmoke;height: 40px;border-radius: 20px;line-height: 40px" onclick="$.saveInfo()">保存
        </div>

    </div>
</div>


<script>
    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        form.render();
    });
</script>
</body>
</html>